<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPO_RKOT_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SPO_RKOT_UI.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value>HahatunUser</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>SPO_RKOT_HaHaTun</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
        </SPO_RKOT_UI.Properties.Settings>
    </userSettings>
</configuration>